@tailwind base;
@tailwind components;
@tailwind utilities;

/* Button Styling */
.cartBtn {
  width: 155px;
  height: 40px;
  border: none;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  color: white;
  font-weight: 500;
  position: relative;
  background-color: rgb(0, 0, 0);
  box-shadow: 0 20px 30px -7px rgba(27, 27, 27, 0.219);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  overflow: hidden;
}

.cart {
  z-index: 2;
}

.cartBtn:active {
  transform: scale(0.96);
}

.product {
  position: absolute;
  width: 12px;
  border-radius: 3px;
  content: "";
  left: 17px;
  bottom: 23px;
  opacity: 0;
  z-index: 1;
  fill: rgb(211, 211, 211);
}

.cartBtn:hover .product {
  animation: slide-in-top 1.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-30px);
    opacity: 1;
  }

  100% {
    transform: translateY(0) rotate(-90deg);
    opacity: 1;
  }
}

.cartBtn:hover .cart {
  animation: slide-in-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-10px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
/* Button Styling */
/* Menu Item Card */
.menu-item-card {
  display: flex; /* Enables flexbox */
  flex-direction: column; /* Stacks items vertically */
  align-items: center; /* Centers items horizontally */
  justify-content: center; /* Centers items vertically */
  border-radius: 10px;
  text-align: center;
  width: 25%;
  padding: 0px 0px 20px 0px; /* Adds some spacing inside the card */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: adds shadow for better look */
  margin: 10px; /* Adds spacing between cards */
}
.menu-item-card:hover {
  transition: 1000ms;
  display: flex; /* Enables flexbox */
  flex-direction: column; /* Stacks items vertically */
  align-items: center; /* Centers items horizontally */
  justify-content: center; /* Centers items vertically */
  border-radius: 10px;
  text-align: center;
  width: 25%;
  border: 2px black solid;
  padding: 0px 0px 20px 0px; /* Adds some spacing inside the card */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: adds shadow for better look */
  margin: 10px; /* Adds spacing between cards */
}
/* Menu Item Card */

.fading-gradient {
  width: 100%; /* Adjust as needed */
  height: 200px; /* Adjust as needed */
  background: linear-gradient(180deg, #741052 0%, rgba(116, 16, 82, 0) 100%);
}



:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
